*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: aqua;
}

header{
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}
main{
    
    border: 1px solid black;
    height: calc(100vh - 246px);
    margin: 20px 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(249, 247, 216);
}
section{
    border: 1px solid black;
    height: 50%;
    margin: 15px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    background-color: rgb(117, 121, 120);
}
div{
    border: 1px solid black;
    height: 70%;
    margin: 0 20%;
    background-color: rgb(215, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}